@page
@{
}

<head>
    <title>Mouse Tracker</title>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div class="button-container">
        <button id="sendData" class="button">Send Data</button>
    </div>
    <script src="@Url.Content("~/js/mouseTracker.js")"></script>
</body>
